@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'VT323', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  background-image: url('../src/img/number.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.calc{
  margin: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  font-family: "VT323";
  font-size: 22px;
  padding: 12px 24px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 0px 6px 0px 6px;
}
button:hover{
  background-color: darkgray;
}
button:active{
  background-color: black;
  color: whitesmoke;
}

.input::placeholder{
  font-family: "VT323";
  font-size: 16px;
}
.input{
  width: 300px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 0px 6px 0px 6px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.equal{
  width: 300px;
}

